<!DOCTYPE html>
<!--松田作成-->

<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>従業員管理画面</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header>
			<h1>従業員情報</h1>
		</header>
		<main>
			<div id="form-area">
				<form th:action="@{/emp/info}" th:object="${empInfo}" method="post">
			
		<div class="form-row">
		<label for="empName">お名前</label>
		<input th:field="*{empName}"th:value="${empName}">
		</div>
		
		<div class="form-row">
		<label for="furigana">フリガナ</label>
		<input th:field="*{furigana}" th:value="${furigana}">
		</div>
		
		<div class="form-row">
		<label for="empId">従業員ID</label>
		<input th:field="*{empId}" th:value="${empId}" readonly>
		</div>
		
		<div class="form-row">
		<label for="password">パスワード</label>
		<input th:field="*{password}" th:value="${password}">
		</div>
		
		<div class="form-row">
		<input type="submit" name="save" value="保存" class="btn">
		</div>
		
		<button popovertarget="delete">削除</button>
			<div id="delete" popover>
			従業員情報を削除します。<br>
				本当によろしいですか。
			<botton id="confirmButton">はい</button>
			<button popovertarget="delete" popovertargetaction='hidden'>いいえ</button>
				</div>
		
	</div>
	</form>
		<a th:href="backAddress"><amall>前に戻る</small></a>
		
		</main>
		<footer><small>&copy; @BREXA Technology Inc.All Rights Reserved.</small></footer>
	</div>
</body>
</html>
