<!DOCTYPE html>

<!--松田-->
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>従業員用ログイン画面</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header>
		<h1>ログイン画面(従業員)</h1>
		</header>
		<main>
			<div id="form-area">
				<form th:action="@{/emp/login}" th:object="${empLoginFormModel}" method="post">
					
					<div class="form-row">
						<label for="empId">従業員ID</label>
						<input th:field="*{empId}" value="${empId}">
						<span th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}" class="errors"></span>
					</div>
					<div class="form-row">
						<label for="password">パスワード</label>
						<input type="password" th:field="*{empPass}" value="${empPass}" maxlength="8">
						<span th:if="${#fields.hasErrors('empPass')}" th:errors="*{empPass}" class="errors"></span>
					</div>
					<div class="form-row">
						<input type="submit" value="ログイン" class="btn">
					</div>
						<span th:text="${errors}" class="errors"></span>
				</form>
			</div>
		</main>
		<footer></footer>
	</div>
</body>
</html>