<!DOCTYPE html>

<!--松田-->

<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>メインメニュー</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header>
		<h1>従業員メインメニュー</h1>
		</header>
		<main>
			<iv id="form-area">
				
				<form th:action="@{/order/info}" method="get">
					<div class="form-row">
					<input type="submit" value="注文管理" class="btn">
					</div>
				</form>
				
				<form th:action="@{/emp/info}" method="get">
					<div class="form-row">
						<input type="submit" value="従業員情報管理" class="btn">
					</div>
				</form>
				
				<form th:action="@{/emp/add}" method="get">
					<div class="form-row">
						<input type="submit" value="従業員情報登録" class="btn">
					</div>
				</form>
			
		</main>
		<footer></footer>
	</div>
</body>
</html>