<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>会員情報管理画面</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header><h1>会員情報管理画面</h1></header>
		<main>
			<div id="form-area">
				<form th:action="@{/user/info}" th:object="${userInfoFormModel}" method="post">
					<div class="form-row">
						<div class="title"><label for="name">お名前</label></div>
						<div class="content">
							<input th:field="*{userName}" th:value="${userName}" size="25" placeholder="山田太郎">
							<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="kana">フリガナ</label></div>
						<div class="content">
							<input th:field="*{userKana}" th:value="${userKana}" size="25" placeholder="ヤマダタロウ">
							<span th:if="${#fields.hasErrors('userKana')}" th:errors="*{userKana}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="gender">性別</label></div>
						<div class="content">
							<div th:switch="*{userGender}">
								<span th:case="0">男</span>
								<span th:case="1">女</span>
								<span th:case="2">未回答</span>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="birthYear">生年月日</label></div>
						<div class="content">
							<span th:text="*{userBirth}"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="post">郵便番号</label></div>
						<div class="content">
							<input th:field="*{userPost}" th:value="${userPost}" size="7" maxlength="7" placeholder="3999999">
							<small>※ハイフンなし</small>
							<span th:if="${#fields.hasErrors('userPost')}" th:errors="*{userPost}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="address">住所</label></div>
						<div class="content">
							<input th:field="*{userAddress}" th:value="${userAddress}" size="50" placeholder="長野県安曇野市安曇野999-99">
							<span th:if="${#fields.hasErrors('userAddress')}" th:errors="*{userAddress}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="phone">電話番号</label></div>
						<div class="content">
							<input th:field="*{userPhone}" th:value="${userPhone}" size="11" maxlength="11" placeholder="0263990000">
							<small>※ハイフンなし</small>
							<span th:if="${#fields.hasErrors('userPhone')}" th:errors="*{userPhone}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="mail">メールアドレス</label></div>
						<div class="content">
							<input th:field="*{userMail}" th:value="${userMail}" size="25" placeholder="ken-furniture@xxxxx.co.jp">
							<span th:if="${#fields.hasErrors('userMail')}" th:errors="*{userMail}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="password">パスワード</label></div>
						<div class="content">
							<input type="password" th:field="*{userPass}" th:value="${userPass}" size="8" maxlength="8">
							<small>※英数字8桁</small>
							<span th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}" class="errors"></span>
						</div>
					</div>
					

					<div class="form-row">
						<input type="submit" value="確認用ダミー" class="btn">
					</div>
				</form>
			</div>
		</main>
		<footer></footer>
	</div>
</body>
</html>