<!DOCTYPE html>
<!-- 担当 : nishimura -->
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>新規会員登録</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header><h1>新規会員登録画面</h1></header>
		<main>
			<div id="form-area">
				<form th:action="@{/user/add}" th:object="${userAddForm}" method="post">
					<div class="form-row">
						<div class="title"><label for="name">お名前</label></div>
						<div class="content">
							<input th:field="*{name}" value="" size="25" placeholder="山田太郎">
							<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="kana">フリガナ</label></div>
						<div class="content">
							<input th:field="*{kana}" value="" size="25" placeholder="ヤマダタロウ">
							<span th:if="${#fields.hasErrors('kana')}" th:errors="*{kana}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="post">郵便番号</label></div>
						<div class="content">
							<input th:field="*{post}" size="8" placeholder="3999999（ハイフンなし）">
							<span th:if="${#fields.hasErrors('post')}" th:errors="*{post}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="address">住所</label></div>
						<div class="content">
							<input th:field="*{address}" size="50" placeholder="長野県安曇野市安曇野999-99">
							<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="phone">電話番号</label></div>
						<div class="content">
							<input th:field="*{phone}" size="15" placeholder="0263990000（ハイフンなし）">
							<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="mail">メールアドレス</label></div>
						<div class="content">
							<input th:field="*{mail}" size="25" placeholder="ken-furniture@xxxxx.co.jp">
							<span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="password">パスワード</label></div>
						<div class="content">
							<input th:field="*{password}" size="25" placeholder="英数字8桁">
							<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="gender">性別</label></div>
						<div class="content">
							<select th:field="*{gender}">
								<option th:each="genders : ${genderMap}" th:value="${genders.key}" th:text="${genders.value}"></option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="birthYear">生年月日</label></div>
						<div class="content">
							<select th:field="*{birthYear}">
								<option th:each="years : ${listBirthYears}" th:value="${years.data}" th:text="${years.label}"></option>
							</select>&nbsp;年
							<select th:field="*{birthMonth}">
								<option th:each="months : ${listBirthMonths}" th:value="${months.data}" th:text="${months.label}"></option>
							</select>&nbsp;月
							<select th:field="*{birthDay}">
								<option th:each="days : ${listBirthDays}" th:value="${days.data}" th:text="${days.label}"></option>
							</select>&nbsp;日
						</div>
					</div>

					<div class="form-row">
						<input type="submit" value="登録" class="btn">
					</div>
					
				</form>
				<a th:href="/user/login">前に戻る</a>
			</div>
		
		</main>
		<footer><small>&copy; © BREXA Technology Inc.All Rights Reserved.</small></footer>
	</div>
</body>
</html>