<!DOCTYPE html>
<!-- 担当 : 西村 -->
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>新規会員登録</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header><h1>新規会員登録画面</h1></header>
		<main>
			<div id="form-area">
				<form th:action="@{/user/add}" th:object="${userAddFormModel}" method="post">
					<div class="form-row">
						<div class="title"><label for="name">お名前</label></div>
						<div class="content">
							<input th:field="*{userAddName}" value="" size="25" placeholder="山田太郎">
							<span th:if="${#fields.hasErrors('userAddName')}" th:errors="*{userAddName}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="kana">フリガナ</label></div>
						<div class="content">
							<input th:field="*{userAddKana}" value="" size="25" placeholder="ヤマダタロウ">
							<span th:if="${#fields.hasErrors('userAddKana')}" th:errors="*{userAddKana}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="post">郵便番号</label></div>
						<div class="content">
							<input th:field="*{userAddPost}" size="7" maxlength="7" placeholder="3999999">
							<small>※ハイフンなし</small>
							<span th:if="${#fields.hasErrors('userAddPost')}" th:errors="*{userAddPost}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="address">住所</label></div>
						<div class="content">
							<input th:field="*{userAddAddress}" size="50" placeholder="長野県安曇野市安曇野999-99">
							<span th:if="${#fields.hasErrors('userAddAddress')}" th:errors="*{userAddAddress}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="phone">電話番号</label></div>
						<div class="content">
							<input th:field="*{userAddPhone}" size="11" maxlength="11" placeholder="0263990000">
							<small>※ハイフンなし</small>
							<span th:if="${#fields.hasErrors('userAddPhone')}" th:errors="*{userAddPhone}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="mail">メールアドレス</label></div>
						<div class="content">
							<input th:field="*{userAddMail}" size="25" placeholder="ken-furniture@xxxxx.co.jp">
							<span th:if="${#fields.hasErrors('userAddMail')}" th:errors="*{userAddMail}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="password">パスワード</label></div>
						<div class="content">
							<input type="password" th:field="*{userAddPass}" size="8" maxlength="8">
							<small>※英数字8桁</small>
							<span th:if="${#fields.hasErrors('userAddPass')}" th:errors="*{userAddPass}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="gender">性別</label></div>
						<small>&nbsp;リストから選択してください</small>
						<div class="content">
							<select th:field="*{userAddGender}">
								<option th:each="genders : ${genderMap}" th:value="${genders.key}" th:text="${genders.value}"></option>
							</select>
							<span th:if="${#fields.hasErrors('userAddGender')}" th:errors="*{userAddGender}" class="errors"></span>
							<span th:text="${genderError}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="birthYear">生年月日</label></div>
						<small>&nbsp;リストから選択してください</small>
						<div class="content">
							<select th:field="*{userAddBirthYear}">
								<option th:each="years : ${listBirthYears}" th:value="${years.data}" th:text="${years.label}"></option>
							</select>&nbsp;年
							<select th:field="*{userAddBirthMonth}">
								<option th:each="months : ${listBirthMonths}" th:value="${months.data}" th:text="${months.label}"></option>
							</select>&nbsp;月
							<select th:field="*{userAddBirthDay}">
								<option th:each="days : ${listBirthDays}" th:value="${days.data}" th:text="${days.label}"></option>
							</select>&nbsp;日&nbsp;
							<span th:text="${birthError}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<input type="submit" value="登録" class="btn">
					</div>
				</form>
				<br><br>
				<a th:href="@{/user/login}"><small>前に戻る</small></a>
			</div>
		
		</main>
		<footer><small>&copy; © BREXA Technology Inc.All Rights Reserved.</small></footer>
	</div>
</body>
</html>