<!--担当：内川 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>注文確認画面</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header>
			<h1>注文画面</h1>
		</header>
		<main>
			<form th:action="@{/user/order}" th:object="${userOrderFormModel}" method="post">
				
				<!--商品画像表示-->
				<table border="1">
					<tr>
						<th>商品画像</th>
						<th>商品名</th>
						
					</tr>
					
					
				</table>
				
			<h3>支払方法選択</h3>
				<div id="form-area">
					<div class="form-row">
					<label>代金引換
						<input type="radio" th:field="*{payment}" value="cash">
					</label>
					</div>
					<div class="form-row">
					<label>クレジットカード
						<input type="radio" th:field="*{payment}" value="card">
					</label>
					</div>
					<div class="form-row">
						<label for="cardNumber">カード番号
							<input th:field="*{cardNumber}"  size=50 placeholder="カード番号 0000 0000 0000 0000">
						</label>
							<span th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}" class="errors"></span>

					</div>
					<div class="form-row">
						<label for="expiration">有効期限
							<input th:field="*{expiration}"  placeholder="MM/YY">
						</label>
							<span th:if="${#fields.hasErrors('expiration')}" th:errors="*{expiration}" class="errors"></span>			
					<label for="securityCode">セキュリティコード
						<input th:field="*{securityCode}"  placeholder="000">
					</label>
						<span th:if="${#fields.hasErrors('securityCode')}" th:errors="*{securityCode}" class="errors"></span>
					</div>
				</div>
			
			<h3>お届け先情報</h3>
				<div class = "form-area">
					<div class="form-row">
						<label for="userPost">郵便番号</label>
						<input th:field="*{userPost}" >
						<span th:if="${#fields.hasErrors('userPost')}" th:errors="*{userPost}" class="errors"></span>						
					</div>
					<div class="form-row">
						<label for="userAddress">住所</label>
						<input th:field="*{userAddress}" >
						<span th:if="${#fields.hasErrors('userAddress')}" th:errors="*{userAddress}" class="errors"></span>
					</div>
					<div>
						<input type="submit" name="confirmed" value="注文確定" class="btn">
					</div>
					<div>
						<a th:href="@{/user/cart}">カートに戻る</a>
					</div>
				</div>
			</form>
		
		</main>
		<footer></footer>
	</div>
</body>
</html>