<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>Page Title</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>

<!--担当者:竹内-->

<body>
	<div id="wrapper">
		<header>
			<h1>メインメニュー</h1>
		</header>
		<main>
			<div id="main-section">
				
				<form th:action="@{/user/main}" th:object="${form_list}" method="post">
					<div id="search">
						
					</div>
					
					<div id="category">
						
					</div>
				</form>
				
				<div id="item-list">
					
				</div>
				
				<div id="next-item">
					
				</div>
				
			</div>
		</main>
		<footer></footer>
	</div>
</body>
</html>