<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title th:text="${pagetitle}">商品詳細</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>

<!--担当者:竹内-->

<body>
	<div id="wrapper">
		<header>
			<h1>商品詳細</h1>
			<span th:text="${cartListNumber}"></span>
		</header>
		<main>
			<form th:action="@{/user/item}" th:object="${cartFormModel}" th:method="post">
				<input type="submit" name="back" value="前に戻る">
				<div id="itemIntro">
					<p>
						商品名：<span th:text="${detailItem.itemName}"></span>
					</p>
					<p>
						<span th:text="${detailItem.itemPrice}"></span>
					</p>
					<p>
						<span th:text="${detailItem.releaseDate}"></span>
					</p>
					<p>
						<span th:text="${detailItem.itemCd}"></span>
					</p>
				</div>
				<img th:src="@{|/img/${detailItem.itemCd}.png|}" th:alt="${detailItem.itemName}">
				<p>
					在庫数：
					<select name="selectStock" th:field="*{buyAmount}">
						<option th:each="stock : ${stockList}" th:value="${stock.data}" th:text="${stock.label}">
						</option>
					</select>
				</p>
				<input type="submit" name="cart" value="カートに追加">
				<input type="hidden" name="select" th:value="${detailItem.itemCd}">
				<div>
					<input type="submit" name="check" value="カートを見る">
				</div>
			</form>
		</main>
		<footer></footer>
	</div>
</body>
</html>